<!DOCTYPE html>
<html>

<head>
  <% include ./_headpartial %>
</head>
<header>
  <% include ./_headerpartial %>
</header>
<% include ./_navbar %>
<body>
  <div class="container-fluid">
    <div class="page-header">
      <div class="cart-labels">
        <span class="item-label">ITEM</span>
        <span class="qty-label">QTY</span>
        <span class="price-label">PRICE</span>
      </div>
      <% if (locals.smoothies) { %>
      <% smoothies.forEach((smoothie) => { %>
      <div class="row">
        <div class="col-xs-12">
          <img class="item-image" src="<%=smoothie.picture_url %>" class="rounded float-left" alt="<%=smoothie.description %>">
          <div class='description'> <%=smoothie.description %></div>
          <span class="quantity"><button class="decrease-quantity btn btn-outline-secondary btn-sm" data-smoothieid="<%= smoothie.id%>"> - </button><span class="smoothie-quantity"><%=cart[smoothie.id] %></span><button class="increase-quantity btn btn-outline-secondary btn-sm" data-smoothieid="<%= smoothie.id%>">+</button></span>
            <span class='price'><%= new Intl.NumberFormat('en-CA', { style: 'currency', currency: 'USD' }).format(cart[smoothie.id] * (smoothie.price_cents / 100))%></span>
        </div>
      </div>
      <% });  } %>
      <div class="total-table">
        <!-- <div class="subtotal"><span>Subtotal:</span><span>$0.00</span></div>
        <div class="subtotal"><span>Tax:</span><span>(price x 1.12)- subtotal</span></div> -->
        <div class="total"><span>Total: </span><span class="total-price">$0.00</span></div>
      </div>
    </div>
  </div>
  <% if (locals.smoothies) { %>
  <button type="button" class="checkout-btn btn fixed-bottom btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">Checkout</button>
  <% } %>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Enter Your Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/orders" method="POST">
            <div class="form-group">
              <label for="recipientName" class="col-form-label">Name</label>
              <input type="text" class="form-control" name="recipientName" id="recipientName">
              <label for="recipientPhone" class="col-form-label">Contact</label>
              <input type="text" class="form-control" name="recipientPhone" id="recipientPhone" placeholder="+1 ">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input class="btn btn-primary" type="submit" value="Checkout"></input>
            </div>
          </form>
        </div>
        <!-- /modalbody -->
      </div>
    </div>
  </div>
</div>

  <% include ./_footerpartial %>
