<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./_headpartial %>
  </head>
  <div class="order-confirmation-page">
        <h1 class="confirmation-info">Your RAD Order</h1>
        <h2 class="confirmation-info">status: <% if (order.confirmed) { %> <font color='green'>confirmed</font></h2>
        <p class="confirmation-info">Please pickup your smoothies at <%= order.ready_at%></p>
          <% } else { %> <font color='orange'>pending</font></h2>
        <p class="confirmation-info">Please wait while we confirm your order.</p>
          <% } %>
       
        <h5 class="confirmation-info">Order # <%= order.id%></h5>
        <% smoothies.forEach((smoothie) => { %>
          <% [smoothie].quantity = 1 %>
          <div class="row">
            <div class="col-xs-12">
              <span class="quantity"><span class="smoothie-quantity">
                  <%= [smoothie].quantity %></span></span>
                <span class='price'><%= new Intl.NumberFormat('en-CA', { style: 'currency', currency: 'USD' }).format([smoothie].quantity * (smoothie.price_cents / 100))%></span>
            </div>
            <div class='description'> <%=smoothie.description %></div>
          </div>
          <% });%>
          
          <div class="total-table"><div class="total"><span>Total: </span><span class="total-price">$0.00</span></div></div>
  
            
          
        </div>
      </div>
    </div>
