<!DOCTYPE html>
<html>

<head>
  <% include ./_headpartial %>
</head>
<header>
    <% include ./_headerpartial %>
</header>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">RAD Smoothies</h1>
      <p class="lead">Welcome to the raddest smoothies in Vancouver</p>
    </div>
  </div>

  <section class="body-container super-cool">
    <h3>Menu</h3>
        <% smoothies.forEach((smoothie, index) => { %>
          <% if (index === 0 || index % 3 === 0) { %>
            <div class="card-deck">
            <% } %>
              <div class="card <%= smoothie.id %> ">
                <img class="card-img-top" src="<%=smoothie.picture_url %>">
                <div class="card-body">
                  <h5 class="card-title"> <%= smoothie.description %></h5>
                  <p class="card-text">$<%= (smoothie.price_cents / 100) %></p>
                  <button class="add-item-btn add-to-cart" data-smoothieId="<%= smoothie.id%>">Add to Cart</button>
                </div>
              </div>
            <%  if ((index + 1) % 3  === 0 || index === smoothies.length) { %>
            </div>
              <% } %>
        <% }); %>

      </div>
  </section>

<% include ./_footerpartial %>
